<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Node.js + Socket.io + Redis Chat | ScaleGrid</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="board"></div>
    <h1>빙고개수 0개</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
